@model ShoppingCartViewModel

@if (Model.ShoppingCart.ShoppingCartItems.Count > 0)
{

    <a asp-controller="ShoppingCart" asp-action="Index">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        <span class="px-2">
            @Model.ShoppingCart.ShoppingCartItems.Count
        </span>
    </a>

}