<div class="text-center">
    <h3>Please contact us by sending an email by clicking on the "Contact us" below.</h3>
</div>

<div class="text-center py-xxl-5">
<email address="info@candyshop.com" link-text="Contact us"></email>
</div>