@model HomeViewModel

<div class="d-flex flex-column w-100">
    <img src="~/assets/images/Logo/StarrySproutsBanner.jpg" />
</div>

<div class="text-center py-4">
    <h1>Welcome to the Starry Sprouts Store!</h1>
</div>
<div class="row justify-content-center pt-5">
    <p class="text-center">Check out some stickers by clicking on me!</p>
    <partial name="_Carousel" />
</div>


<div class="row">

    @foreach (var product in Model.ProductsOnSale)
    {
        <partial name="_productCard" model="product" />
    }

</div>